.titulo{
    background-color:yellow;
    
}
.test1{
    background-color: blue;
}
.test2{
    background-color:red;
}
.img01{
    border-radius: 25px;
}
.tes3{
    background-color: violet;
}
